.background {
  /* background: url(./img/background.svg) no-repeat center center fixed; */
  background-size: cover;
  min-height: 100vh;
}

.inter {
  font-family: "Inter";
  font-size: 3rem;
}

.logo {
  width: 100px;
}

.custom-position-absolute-warning {
  position: absolute;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.custom-connect-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 2px solid hsla(0, 0%, 20%, 1);
  border-radius: 3px;
  background-color: hsla(0, 0%, 20%, 0.1);
  width: 175px;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-connect-status__network {
  font-size: 0.5rem;
}

.custom-connect-status__account {
  font-size: 0.7rem;
}

.custom-about-img {
  width: 450px;
}

.custom-about-text {
  width: 600px;
}

.custom-details-list li {
  list-style-type: disc;
  margin-left: 2em;
}

.custom-gallery-gap {
  gap: 1rem;
}

.custom-card {
  width: 350px;
}

.custom-attribute {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 0.2rem;
  padding: 0.25em 0.5em;
}

.custom-attribute__trait {
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-attribute__value {
  font-size: 0.7rem;
  text-transform: capitalize;
}

.custom-word-wrap {
  word-wrap: break-word;
}

@media screen and (max-width: 500px) {
  .custom-nav-img {
    width: 50px !important;
  }
  .custom-about-img {
    width: 300px;
    /* width: 80%; */
  }

  .custom-mobile-subtitle {
    font-size: 1.2rem;
  }

  .custom-smaller-mobile-text {
    font-size: 0.9rem;
  }

  .custom-mobile-img {
    width: 70px !important;
  }

  .custom-mobile-margin {
    margin-bottom: 0 !important;
  }

  .custom-mobile-metamask-fox {
    display: flex;
    align-items: center;
    width: 70px !important;
  }

  .inter {
    font-size: 2rem;
  }
}
