.background {
  background: url(./img/background.svg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.shizuru {
  font-family: "Shizuru", cursive;
  font-size: 3rem;
}

.logo {
  width: 100px;
}

.custom-position-absolute-warning {
  position: absolute;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.custom-connect-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 2px solid hsla(308, 100%, 88%, 0.7);
  border-radius: 3px;
  background-color: hsla(308, 100%, 88%, 0.1);
  width: 175px;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-connect-status__network {
  font-size: 0.5rem;
}

.custom-connect-status__account {
  font-size: 0.7rem;
}

.custom-about-img {
  width: 450px;
}

.custom-about-text {
  width: 600px;
}

.custom-details-list li {
  list-style-type: disc;
  margin-left: 2em;
}

.custom-gallery-gap {
  gap: 1rem;
}

.custom-card {
  width: 350px;
}

.custom-attribute {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 0.2rem;
  padding: 0.25em 0.5em;
}

.custom-attribute__trait {
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-attribute__value {
  font-size: 0.7rem;
  text-transform: capitalize;
}

.custom-word-wrap {
  word-wrap: break-word;
}

/* .bubble-colors {
  background-color: hsla(350, 100%, 88%, 0.3);
  background-color: #ffc2cc4d;
  background-color: hsla(59, 100%, 88%, 0.3);
  background-color: #fffec24d;
  background-color: hsla(180, 100%, 88%, 0.3);
  background-color: #c2ffff4d;
  background-color: hsla(308, 100%, 88%, 0.3);
  background-color: #ffc2f74d;
  background-color: hsla(162, 100%, 88%, 0.3);
  background-color: #c2ffed4d;
}

.opensea-backgrounds {
  background-color: hsla(350, 100%, 88%, 1);
  background-color: #ffc2cc;
  background-color: hsla(59, 100%, 88%, 1);
  background-color: #fffec2;
  background-color: hsla(180, 100%, 88%, 1);
  background-color: #c2ffff;
  background-color: hsla(308, 100%, 88%, 1);
  background-color: #ffc2f7;
  background-color: hsla(162, 100%, 88%, 1);
  background-color: #c2ffed;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
